# Ignore IDE specific files
.idea/
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
!.vscode/launch.json

# Ignore build artifacts
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.prof
*.out

# Ignore temporary files
*.tmp
*.log
*.swp

# MacOS system files
.DS_Store

# Environment files
.env

vendor/
bin/